[Unit]
Description=Check Wire Guard connection
After=networkd-online.target

[Service]
User=root
ExecStart=/usr/local/bin/atom_restart.sh

Restart=on-failure
RestartSec=30
SyslogIdentifier="Atom Connection Check"
StandardOutput=append:/var/log/atom_connection/log1.log
StandardError=append:/var/log/atom_connection/log2.log
